.container {
  width: 1000px;
  min-height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 20px;
}
.card {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.content {
  text-align: center;
}
.text-content {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
}